<div class="pt-4">
  <div class="px-4">
    <h1 class="font-bold text-xl">{{ title }}</h1>
    <p>{{ description }}</p>
  </div>
  <p class="px-4 py-2 mt-4 bg-slate-200">
    ⓘ Tap outside or click button below to close.
  </p>
  <div class="px-4 overflow-auto md:max-h-96">
    <p class="pt-4 font-semibold" (click)="expandedContent = !expandedContent">
      {{ expandedContent ? "Show less content [-]" : "Show  more content [+]" }}
    </p>
    @if(expandedContent) {
    <p class="py-8">Some text to show back scroll</p>
    <p class="py-8">Some text to show back scroll</p>
    <p class="py-8">Some text to show back scroll</p>
    <p class="py-8">Some text to show back scroll</p>
    <p class="py-8">Some text to show back scroll</p>
    <p class="py-8">Some text to show back scroll</p>
    <p class="py-8">Some text to show back scroll</p>
    <p class="py-8">Some text to show back scroll</p>
    <p class="py-8">Some text to show back scroll</p>
    }
  </div>
  <div
    class="p-4 flex justify-end sticky bottom-0 bg-white border-t-2 w-full md:rounded-b-xl"
  >
    <button
      type="button"
      (click)="close()"
      class="bg-indigo-600 text-white text-sm leading-6 font-medium py-2 px-3 rounded-lg"
    >
      Close
    </button>
  </div>
</div>
