/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 4px;
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: theme("colors.gray.100");
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.gray.400");
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.gray.700");
}
