/* Global styles for the demo application.
 * This file imports Tailwind CSS and defines custom styles for the application.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar width - thinner on mobile, wider on desktop */
::-webkit-scrollbar {
  width: 4px;
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
}

/* Scrollbar track styling */
::-webkit-scrollbar-track {
  background: theme("colors.gray.100");
}

/* Track */
::-webkit-scrollbar-track {
  background: theme("colors.gray.100");
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme("colors.gray.400");
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.gray.700");
}
